<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" routerLink="home">SDE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="home" routerLinkActive="active" >Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="adm"  routerLinkActive="active" >Administrar Empleado</a>
                </li>
            </ul>
            <ng-container *ngIf="!employeeService.loggedIn(); else loggedIn">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="login"  routerLinkActive="active">Signin</a>
                    </li>
                </ul>
            </ng-container>
            <ng-template #loggedIn>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" (click)="employeeService.logout()">Logout</a>
                    </li>
                </ul>
            </ng-template>
            
        </div>
    </div>
</nav>
<router-outlet></router-outlet>